// servicios que ofrecemos
.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.item{
    text-align: center;
    margin: 70px;

    img{
    display: block;
    width: 200px; /* Ajusta el ancho según tu diseño */
    height: auto; /* Ajusta la altura de manera proporcional */
    }

    a{
        display: block;
        text-align: center;
        background-color: $maincolor;
        color: $white;
        padding: 4px 30px;
        border-radius: 8px;
        text-align: center;
        text-decoration: none;
        margin: auto;
        }
}